[submodule "pqcrypto/pqcrypto-classicmceliece/pqclean"]
	path = pqcrypto/pqcrypto-classicmceliece/pqclean
	url = https://github.com/pqclean/pqclean.git
[submodule "pqcrypto/pqcrypto-falcon/pqclean"]
	path = pqcrypto/pqcrypto-falcon/pqclean
	url = https://github.com/pqclean/pqclean.git
[submodule "pqcrypto/pqcrypto-hqc/pqclean"]
	path = pqcrypto/pqcrypto-hqc/pqclean
	url = https://github.com/pqclean/pqclean.git
[submodule "pqcrypto/pqcrypto-mldsa/pqclean"]
	path = pqcrypto/pqcrypto-mldsa/pqclean
	url = https://github.com/pqclean/pqclean.git
[submodule "pqcrypto/pqcrypto-mlkem/pqclean"]
	path = pqcrypto/pqcrypto-mlkem/pqclean
	url = https://github.com/pqclean/pqclean.git
[submodule "pqcrypto/pqcrypto-sphincsplus/pqclean"]
	path = pqcrypto/pqcrypto-sphincsplus/pqclean
	url = https://github.com/pqclean/pqclean.git
